* {
  padding: 0px;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
button {
  display: block;
  text-decoration: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

.info-sup-bg {
  background-color: #3c75e1;
}

.info-sup {
  display: flex;
  max-width: 75%;
  height: 30px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
}

.info-sup a {
  color: white;
}

.menu-bg {
  background-color: #6b96e8;
}

.menu {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
.menu a {
  color: white;
  font-size: 20px;
}

.menu-logo a {
  margin: auto 10px;
  font-size: 50px;
}

.menu-nav ul {
  display: flex;
  align-items: center;
}

.menu-nav a {
  padding: 20px;
}

.intro {
  margin: 100px auto;
  max-width: 75%;
  height: 80px;
  font-size: 45px;
  color: black;
  line-height: 1;
}

.about {
  display: flex;
  border-top: solid 2px blue;
  border-bottom: solid 2px blue;
  margin: 0 auto;
  padding: 70px 0px;
  max-width: 75%;
  flex-wrap: wrap;
}

.about-txt {
  color: black;
  margin: 10px 0px;
  flex: 2 1 300px;
}

.about-txt h1 {
  font-size: 3em;
  margin-top: 0.5em;
}

.about-txt p {
  font-size: 1.25em;
  margin-top: 30px;
  line-height: 1.4;
}

.about-img {
  padding: 10px;
  flex: 1 1 160px;
}

.products {
  display: flex;
  padding: 70px 0px;
  margin: 0 auto;
  max-width: 75%;
  flex-flow: row wrap;
  align-items: flex-end;
}

.product {
  flex: 1 1 200px;
  margin: 10px;
  background-color: rgb(236, 236, 236);
}

.product h1 {
  padding: 60px 20px;
  font-size: 3em;
  color: #a4a4a4;
}

#productPurple {
  border-top: 8px solid purple;
}
#productPink {
  border-top: 8px solid #f9265e;
}
#productBlue {
  border-top: 8px solid blue;
}

.priceBg {
  background: rgb(238, 238, 238);
}

.price {
  display: flex;
  margin: 0px auto;
  padding: 50px 0px;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price-info {
  flex: 1;
  border: 4px solid white;
  padding: 20px;
  margin: 40px;
  max-width: 350px;
}

.price-info h1 {
  font-size: 45px;
  color: #a4a4a4;
  text-align: center;
}

.price-info h2 {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  font-size: 45px;
  color: black;
  text-align: center;
}

.price-info p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 25px;
  font-size: 1.25em;
  line-height: 1;
}

.price-info button {
  font-size: 40px;
  padding: 10px 30px;
  border: 2px solid black;
}

.price-info p::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: blue;
  border-radius: 50%;
}

.quality {
  display: flex;
  padding: 70px 0px;
  margin: 0 auto;
  max-width: 75%;
  flex-flow: row wrap;
}

.quality-item {
  flex: 1 1 300px;
  margin: 20px auto;
}

.quality-item h1 {
  color: gray;
  font-size: 2.25em;
}

.quality-item h1::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.quality-item:nth-of-type(3n + 2) h1::before {
  background-color: #f9265e;
}

.quality-item:nth-of-type(3n + 1) h1::before {
  background-color: purple;
}

.quality-item:nth-of-type(3n + 3) h1::before {
  background-color: blue;
}

.quality-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

.newsLetter-bg {
  background: #f7f7f7;
  padding: 60px 0px;
}
.newsletter {
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 200px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 60px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 60px;
  font-size: 1.25em;
  color: #7c7c7c;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
}

.newsletter-form button {
  flex: 1 1 60px;
  font-size: 2.25em;
  background: #2c70ff;
  color: white;
  margin: 0px;
  cursor: pointer;
}

.footer {
  display: flex;
  background: #2c70ff;
  height: 200px;
  align-items: center;
}

.footer h1 {
  flex: 1;
  text-align: center;
  font-size: 2.25em;
  color: #122ab2;
}

@media (max-width: 766px) {
  .newsletter-form {
    font-size: 1em;
  }

  .menu-nav {
    display: none;
  }
  .info-sup {
    max-width: 100%;
    font-size: 10px;
  }
  .intro {
    font-size: 30px;
  }
}
